<div class="container text-center mt-3">
  <div
    class="row justify-content-center align-items-center"
    style="max-height: 500px"
  >
    <div class="col-2">
      <img
        src="assets/images/headshot.jpg"
        alt=""
        class="img-fluid rounded-circle"
      />
    </div>
    <div class="col-6">
      <h1 class="col display-2 fw-bold text-light">Elizabeth Karr</h1>
    </div>
  </div>

  <div class="row mt-4 row-gap-5 column-gap-4 row-cols-2 align-items-center justify-content-center">
    <div *ngFor="let item of menuItems" class="col-6 col-sm-5">
        <a class="text-decoration-none" href="">
            <div class="fs-1 rounded tile text-light py-4" >{{ item }}</div>
        </a>
    </div>
  </div>
</div>
