<div class="container my-3 text-light text-">
  <div class="row align-items-center">
    <div class="col-sm-4 text-center">
      <img
        src="assets/images/headshot.jpg"
        alt=""
        class="img-fluid rounded-circle headshot"
      />
    </div>
    <div class="col">
      <h1 class="display-1 fw-bold">Elizabeth Karr</h1>
    </div>
  </div>

  <hr />

  <div class="container text-center">
    <div class="row row-gap-2 justify-content-center align-items-center">
      <div class="col-lg-2 section-tile rounded p-2 fs-3">
        Software Engineer
      </div>
      <div class="col">
        <div class="fs-5">
          As a software engineer, I leverage Python and SQL to support software systems. My expertise extends to AWS and Angular, complementing a strong foundation in JavaScript, Java, and SpringBoot. I excel in technical problem-solving while fostering effective communication and teamwork. <br />
          Click the buttons below to learn more about my experience and projects!
        </div>
        <div class="d-flex flex-wrap justify-content-center">
          <a
            *ngFor="let item of menuItems"
            class="text-decoration-none"
            routerLink="{{ item | lowercase }}"
          >
            <div class="fs-3 rounded tile text-light px-5 m-2">{{ item }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="container text-center">
    <div class="row row-gap-2 justify-content-center align-items-center">
      <div class="col-lg-2 section-tile rounded p-2 fs-3">Kickballer</div>
      <div class="col">
        <div class="row row-gap-2 align-items-center">
          <div class="col px-4">
            <div class="fs-5">
              In my free time, I play in two kickball leagues in Lawrence, KS
              and in a nationwide traveling kickball league. I currently
              volunteer as a board member for the
              <a class="text-light" href="https://www.kawvalleykickball.com"
                >Kaw Valley Kickball League</a
              >.
            </div>
          </div>
          <div class="col-lg-4 text-center">
            <img
              src="assets/images/lisafrank.jpeg"
              alt="female kickball team holding a banner and trophy"
              class="img-fluid rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="container text-center">
    <div class="row row-gap-3 column-gap-2 justify-content-center align-items-center">
      <div class="col-lg-2 section-tile rounded p-2 fs-3">Dog Mom</div>
      <div class="col">
        <div class="row row-gap-2 align-items-center">
          <div class="col-lg-2 text-center">
            <img
              src="assets/images/dogs.jpeg"
              alt="two tan dogs siting next to eachother wearing blue bandanas"
              class="img-fluid rounded"
            />
          </div>
          <div class="col px-4">
            <div class="fs-5">
              My world revolves around my two dogs, Hazel and Hammond. They are
              my favorite walking and running partners. We enjoy mornings at the
              dog park and cheering on the Kansas Jayhawks.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
